<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/logo-type3.png" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/estiloBase.css">
    <link rel="stylesheet" href="assets/css/responsiveDashboard.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

    <script src="assets/js/sessionManager.js"></script>
    <script src="assets/js/initDataComponentsDashboard.js"></script>
    <script src="assets/js/navManager.js"></script>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Portal Lynx Coder | Desempenho</title>
</head>

<body>

    <div class="sidebar">
        <div class="logo-details">
            <img src="assets/img/logo-type3.1.png" class="icon" alt="">
            <div class="logo_name">LynxCoder</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>

        <ul class="nav-list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>

            <li>
                <a href="perfil.html">
                    <i class='bx bxs-user-circle'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>

            <!-- Colaborador -->
            
            <li id="navDashboard">
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>

            <li id="navRelatorios">
                <a href="relatorios.html">
                    <i class='bx bx-line-chart'></i>
                    <span class="links_name">Relatórios</span>
                </a>
                <span class="tooltip">Relatórios</span>
            </li>

            <!-- Gestor -->

            <li id="navEquipe">
                <a href="equipe.html">
                    <i class='bx bxs-group'></i>
                    <span class="links_name">Equipe</span>
                </a>
                <span class="tooltip">Equipe</span>
            </li>

            <li id="navSprint">
                <a href="sprint.html">
                    <i class='bx bxs-bar-chart-alt-2'></i>
                    <span class="links_name">Sprint</span>
                </a>
                <span class="tooltip">Sprint</span>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <img id="foto_perfil_usuario_log_out" src="" alt="profileImg">
                    
                    <div class="name_job">
                        <div class="name" id="nome_usuario_log_out"></div>
                        <div class="job" id="tipo_usuario_log_out"></div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="logoff()"></i>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <div class="dashboard">
            <div class="dash_left">
                <div class="components">
                    <h1>Meu computador</h1>
    
                    <div class="dash_align">
                        <div class="info_components">
                            <div class="dash_item">
                                <h4>CPU</h4>
        
                                <div class="canvas">
                                    <canvas id="cpuCanvas"></canvas>
                                </div>
                            </div>
                            <div class="dash_item">
                                <h4>Disco</h4>
            
                                <div class="canvas">
                                    <canvas id="discoCanvas"></canvas>
                                </div>
                            </div>
                            <div class="dash_item">
                                <h4>Memória</h4>
            
                                <div class="canvas">
                                    <canvas id="memoriaCanvas"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="components">
                    <h1>Acompanhamento Máquina</h1>
                    
                    <br><br><br>
                    <div class="chart_sprint">
                        <div class="canvas">
                            <canvas id="testBarAcomp"></canvas>
                        </div>
                    </div>
                </div>
    
                <div class="components">
                    <h1>Atividades</h1>
    
                    <br><br><br>
                    <div class="chart_atvds">
                        <div class="canvas">
                            <canvas id="testBar"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dash_right">
                <h1>Atividades Pendentes</h1>

                <div id="atividadesPends" class="atvds">
                    
                </div>
            </div>
        </div>
    </section>

    <script src="./assets/js/sidebar.js"></script>

</body>

<script>

    var maquinaUsuario;
    
    var cpu_canvas = document.getElementById('cpuCanvas');
    var disco_canvas = document.getElementById('discoCanvas');
    var memory_canvas = document.getElementById('memoriaCanvas');
    var test_bar = document.getElementById('testBar');
    var test_barAcomp = document.getElementById('testBarAcomp');

    var graficoCpu = new Chart(
        cpu_canvas, {
            type: 'doughnut',
            data: {
                labels: ['Usado', 'Livre'],
                datasets: [{
                    data: [0, 100],
                    backgroundColor: ['#43318f', '#d2befa'],
                    borderWidth: 0
                }]
            },
            options: {
                elements: {
                    center: {
                        text: '0%',
                        color: '#43318f',
                        sidePadding: 50,
                        minFontSize: 18,
                    }
                },
                cutoutPercentage: 85,
                legend: {
                    display: false,
                },
            }
        }
    );

    var graficoDisco = new Chart(
        disco_canvas, {
            type: 'doughnut',
            data: {
                labels: ['Usado', 'Livre'],
                datasets: [{
                    data: [0, 100],
                    backgroundColor: ['#43318f', '#d2befa'],
                    borderWidth: 0
                }]
            },
            options: {
                elements: {
                    center: {
                        text: '0%',
                        color: '#43318f',
                        sidePadding: 50,
                        minFontSize: 18,
                    }
                },
                cutoutPercentage: 85,
                legend: {
                    display: false,
                },
            }
        }
    );

    var graficoMemoria = new Chart(
        memory_canvas, {
            type: 'doughnut',
            data: {
                labels: ['Usado', 'Livre'],
                datasets: [{
                    data: [0, 100],
                    backgroundColor: ['#43318f', '#d2befa'],
                    borderWidth: 0
                }]
            },
            options: {
                elements: {
                    center: {
                        text: '0%',
                        color: '#43318f',
                        sidePadding: 50,
                        minFontSize: 18,
                    }
                },
                cutoutPercentage: 85,
                legend: {
                    display: false,
                },
            }
        }
    );

    var graficoBarAcomp = new Chart(test_barAcomp, {
        type: 'bar',
        data: {
            labels: [ 'Baixo', 'Moderado', 'Alto', 'Crítico'],
            datasets: [ 
                {
                data: [],
                label: ['CPU'],
                backgroundColor: '#83CEB6',
                borderColor: '#169E72',
                borderWidth: 2
                },
                {
                data: [],
                label: ['Disco'],
                backgroundColor: '#DBDB6F',
                borderColor: '#D2D21B',
                borderWidth: 2
                },
                {
                data: [],
                label: ['RAM'],
                backgroundColor: '#CAA066',
                borderColor: '#ED9821',
                borderWidth: 2
                }
            ]
        },
        options: {
            title: {
                display: false
            },
            legend: {
                display: true
            },
            scales: {
                xAxes: [{
                    barThickness : 50
                }], 
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 50
                    }
                }]
            }
        }
    });

    var graficoBar = new Chart(test_bar, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [ {
                data: [],
                backgroundColor: [],
                borderColor: [],
                borderWidth: 2
            }]
        },
        options: {
            title: {
                display: false
            },
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    barThickness : 50
                }], 
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 100
                    }
                }]
            }
        }
    });

    Chart.defaults.global.defaultFontColor = "#303030";
    Chart.pluginService.register({
        beforeDraw: function (chart) {
            if (chart.config.options.elements.center) {
            var ctx = chart.chart.ctx;

            var centerConfig = chart.config.options.elements.center;
            var fontStyle = centerConfig.fontStyle || 'Arial';
            var txt = centerConfig.text;
            var color = centerConfig.color || '#000';
            var sidePadding = centerConfig.sidePadding || 20;
            var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)

            ctx.font = "30px " + fontStyle;

            var stringWidth = ctx.measureText(txt).width;
            var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

            var widthRatio = elementWidth / stringWidth;
            var newFontSize = Math.floor(30 * widthRatio);
            var elementHeight = (chart.innerRadius * 2);

            var fontSizeToUse = Math.min(newFontSize, elementHeight);

            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
            var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
            ctx.font = fontSizeToUse+"px " + fontStyle;
            ctx.fillStyle = color;

            ctx.fillText(txt, centerX, centerY);
            }
        }
    });

    function getMaquinaUsuario(idUser) {
        fetch(`/maquinas/${idUser}`, {
            method: "GET"
        }).then( resultado => {
                if( resultado.ok ){

                    resultado.json().then( maquina => {
        
                        maquinaUsuario = maquina.id;

                        getLeiturasMaquina();
                        getAcompanhamentoMaquina();
                    
                    });

                } else {

                    console.log("erro ao recuperar maquina");

                }
            })
    }

    function getLeiturasMaquina() {
        setInterval(() => {

            fetch(`/maquinas/leiturasMaquina/${maquinaUsuario}`, {
                method: "GET"
            }).then( resultado => {

                if( resultado.ok ) {

                resultado.json().then( leituraMaquina => {

                    graficoCpu.config.options.elements.center.text = `${leituraMaquina.porcentagem_uso_cpu}%`;
                    graficoCpu.config.data.datasets[0].data[0] = leituraMaquina.porcentagem_uso_cpu;
                    graficoCpu.config.data.datasets[0].data[1] = (100-leituraMaquina.porcentagem_uso_cpu);

                    graficoDisco.config.options.elements.center.text = `${leituraMaquina.porcentagem_uso_disco}%`;
                    graficoDisco.config.data.datasets[0].data[0] = leituraMaquina.porcentagem_uso_disco;
                    graficoDisco.config.data.datasets[0].data[1] = (100-leituraMaquina.porcentagem_uso_disco);
                    
                    graficoMemoria.config.options.elements.center.text = `${leituraMaquina.porcentagem_uso_ram}%`;
                    graficoMemoria.config.data.datasets[0].data[0] = leituraMaquina.porcentagem_uso_ram;
                    graficoMemoria.config.data.datasets[0].data[1] = (100-leituraMaquina.porcentagem_uso_ram);

                    graficoCpu.update();
                    graficoDisco.update();
                    graficoMemoria.update();

                });

                } else {

                    console.log("erro ao recuperar leituras de maquina");
                
                }

            });

        }, 3000);
    }

    function getAcompanhamentoMaquina() {
        
        fetch(`/maquinas/alertasQuartis/${maquinaUsuario}`, {
            method: "GET"
        }).then( resultado => {

            if( resultado.ok ) {

            resultado.json().then( resposta => {

                graficoBarAcomp.config.data.datasets[0].data.push(resposta[0].CPU_baixo);
                graficoBarAcomp.config.data.datasets[0].data.push(resposta[0].CPU_moderado);
                graficoBarAcomp.config.data.datasets[0].data.push(resposta[0].CPU_alto);
                graficoBarAcomp.config.data.datasets[0].data.push(resposta[0].CPU_critico);

                graficoBarAcomp.config.data.datasets[1].data.push(resposta[0].Disco_baixo);
                graficoBarAcomp.config.data.datasets[1].data.push(resposta[0].Disco_moderado);
                graficoBarAcomp.config.data.datasets[1].data.push(resposta[0].Disco_alto);
                graficoBarAcomp.config.data.datasets[1].data.push(resposta[0].Disco_critico);

                graficoBarAcomp.config.data.datasets[2].data.push(resposta[0].RAM_baixo);
                graficoBarAcomp.config.data.datasets[2].data.push(resposta[0].RAM_moderado);
                graficoBarAcomp.config.data.datasets[2].data.push(resposta[0].RAM_alto);
                graficoBarAcomp.config.data.datasets[2].data.push(resposta[0].RAM_critico);

                graficoBarAcomp.update();
                
            });

            } else {

                console.log("erro ao recuperar leituras de maquina");
            
            }

        });

    }

    function init(){

        check_authentication();
        
        const user = JSON.parse(sessionStorage.getItem('userData'));

        // NAVEGADORES
        accessControl(user);


        // INIT COMPONENTES ------------------------------------------------------------------
        if(user.foto_usuario != null){
            document.getElementById('foto_perfil_usuario_log_out').src = user.foto_usuario;
        } else {
            document.getElementById('foto_perfil_usuario_log_out').src = "https://www.pinpng.com/pngs/m/226-2269397_gnar-bot-is-a-hd-png-download.png";
        }

        let nameSplit = user.nome_usuario.split(' ');

        // NOME E TIPO USUÁRIO
        document.getElementById('nome_usuario_log_out').innerHTML = `${nameSplit[0]} ${nameSplit[nameSplit.length-1]}`;
        
        document.getElementById('tipo_usuario_log_out').innerHTML = !user.is_gestor ? "Colaborador" : "Gestor";

        initComponents(user, graficoBar);

    }

    init();

</script>

</html>