<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/logo-type3.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/estiloBase.css">
    <link rel="stylesheet" href="assets/css/responsiveDashboard.css">

    <script src="assets/js/navManager.js"></script>
    <script src="assets/js/sessionManager.js"></script>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Portal Lynx Coder | Relatórios</title>
</head>

<body>

    <div class="sidebar">
        <div class="logo-details">
            <img src="assets/img/logo-type3.1.png" class="icon" alt="">
            <div class="logo_name">LynxCoder</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>

        <ul class="nav-list">
            <li>
                <i class='bx bx-search' ></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>

            <li>
                <a href="perfil.html">
                    <i class='bx bxs-user-circle'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>

            <!-- Colaborador -->
            
            <li id="navDashboard">
                <a href="dashboard.html">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>

            <li id="navRelatorios">
                <a href="relatorios.html">
                    <i class='bx bx-line-chart'></i>
                    <span class="links_name">Relatórios</span>
                </a>
                <span class="tooltip">Relatórios</span>
            </li>

            <!-- Gestor -->

            <li id="navEquipe">
                <a href="#">
                    <i class='bx bxs-group'></i>
                    <span class="links_name">Equipe</span>
                </a>
                <span class="tooltip">Equipe</span>
            </li>

            <li id="navSprint">
                <a href="sprint.html">
                    <i class='bx bxs-bar-chart-alt-2'></i>
                    <span class="links_name">Sprint</span>
                </a>
                <span class="tooltip">Sprint</span>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <img id="foto_perfil_usuario_log_out" src="" alt="profileImg">
                    
                    <div class="name_job">
                        <div class="name" id="nome_usuario_log_out"></div>
                        <div class="job" id="tipo_usuario_log_out"></div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="logoff()"></i>
            </li>
        </ul>
    </div>

    <section class="home-section rel">
        <h1 class="title_rel" style="padding-top: 0">Equipe</h1>

        <!-- <p class="title_rel">Equipe</p> -->
        <table class="content-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade Atividades(Sprint)</th>
                    <th>Pontuação</th>
                </tr>
            </thead>
            <tbody id="listColabsSquad">
                
            </tbody>
        </table>
    </section>

    <div class="filter">
        <div class="filter-details">
            <i class='bx bxs-filter-alt icon'></i>
            <div class="logo_name">Filtros</div>
            <i class='bx bxs-left-arrow'id="btnFilter"></i>
        </div>
    </div>

</body>

</html>

<script>

var sprintAtiva;

(async function (){

    check_authentication();

    const user = JSON.parse(sessionStorage.getItem('userData'));
    const squad = JSON.parse(sessionStorage.getItem('userSquad'));

    getSprintAtiva(user.id_usuario, squad.id);

    // NAVEGADORES
    accessControl(user);

    // INIT COMPONENTES ------------------------------------------------------------------
    if(user.foto_usuario != null){
        document.getElementById('foto_perfil_usuario_log_out').src = user.foto_usuario;
    } else {
        document.getElementById('foto_perfil_usuario_log_out').src = "https://www.pinpng.com/pngs/m/226-2269397_gnar-bot-is-a-hd-png-download.png";
    }

    let nameSplit = user.nome_usuario.split(' ');

    // NOME E TIPO USUÁRIO
    document.getElementById('nome_usuario_log_out').innerHTML = `${nameSplit[0]} ${nameSplit[nameSplit.length-1]}`;
    
    document.getElementById('tipo_usuario_log_out').innerHTML = !user.is_gestor ? "Colaborador" : "Gestor";

})();


    let sidebar = document.querySelector(".sidebar");
    let filter = document.querySelector(".filter");

    let closeBtn = document.querySelector("#btn");
    let closeBtnFilter = document.querySelector("#btnFilter");

    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", ()=> {

        sidebar.classList.toggle("open");
        menuBtnChange();
        
    });

    closeBtnFilter.addEventListener("click", () => {

        filter.classList.toggle("open");
        filterBtnChange(); 

    });

    searchBtn.addEventListener("click", ()=> { 

        sidebar.classList.toggle("open");
        menuBtnChange();

    });

    function menuBtnChange() {

        if(sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }

    }

    function filterBtnChange() {

        if(filter.classList.contains("open")) {
            closeBtnFilter.classList.replace("bxs-left-arrow", "bx-filter");
        } else {
            closeBtnFilter.classList.replace("bx-filter", "bxs-left-arrow");
        }

    }

    function getSprintAtiva(idUser, idSquad){
    fetch(`/sprints/sprintAtivaUsuario/${idUser}`, {
        method: 'GET'
    }).then(response => {

            if (response.ok) {

                response.json().then( sprint => {
                
                    sprintAtiva = sprint[0].id_sprint;

                    listColabsEquipe(idSquad, sprintAtiva);
                    
                });

            }else{
                response.text().then(function (resposta) {
                    console.log("Erro: " + resposta);
                });
            }

        });
    };

    function listColabsEquipe(idSquad, sprintId){
        fetch(`/usuarios/colaboradoresSquad/${idSquad}/${sprintId}`, {
            method: 'GET'
        }).then(response => {

            if(response.ok){
               
                response.json().then( colabs => {

                    var count = 1;

                    if(colabs.length > 0) {
                    
                        var list = document.getElementById('listColabsSquad');
                    
                        colabs.forEach(colab => {
                           
                            var tr = document.createElement('tr');
                            tr.className = `active-row${count}`;

                            var tdId = document.createElement('td');
                            tdId.textContent = `${colab.id_usuario}`;

                            var tdName = document.createElement('td');
                            tdName.textContent = `${colab.nome_usuario}`;

                            var tdCT = document.createElement('td');
                            tdCT.textContent = `${colab['total concluidas']} / ${colab.total}`;
                            tdCT.style.textAlign = 'center';

                            var tdPT = document.createElement('td');
                            tdPT.textContent = `${colab.pontuacao}`;
                            tdPT.style.textAlign = 'center';
                            
                            if(count > 3) {
                                tr.className = '';
                            }else{
                                count++;
                            }

                            tr.appendChild(tdId);
                            tr.appendChild(tdName);
                            tr.appendChild(tdCT);
                            tr.appendChild(tdPT);
                            
                            list.appendChild(tr);

                        });

                    }

                });

            }else{
                console.log("Não listado!");
            }

        }).catch( erro => {
            console.log("erro lista colabs: "+erro);
        });
    }

</script>