<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/logo-type3.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/estiloBase.css">
    <link rel="stylesheet" href="assets/css/estiloLoginDashboard.css">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Lynx Coder | Login</title>
</head>

<body>

    <div class="alert ocult" id="boxAlert">
        <i class='bx bxs-comment-error'></i>

        <h3 id="titleAlert"></h3>
        <p id="descAlert"></p>
    </div>

    <div class="box-loading ocult" id="loading">
        <span class="circle circle-1"></span>
        <span class="circle circle-2"></span>
        <span class="circle circle-3"></span>
        <span class="circle circle-4"></span>
        <span class="circle circle-5"></span>
        <span class="circle circle-6"></span>
    </div>

    <div class="base_main">
        <section class="main">
            <img src="assets/img/logo-type3.1.png" alt="">

            <form id="form_login" method="post" onsubmit="return logar()">
                <input type="text" name="login" placeholder="Username">
                <input type="password" name="senha" placeholder="Senha">

                <select name="tipoUsuario" id="tipoLogin">
                    <option value="0">Admin</option>
                    <option value="1">Gestor</option>
                    <option value="2">Colaborador</option>
                </select>

                <input type="submit" id="btn_login" value="Entrar">
            </form>
        </section>
    </div>

</body>

</html>

<script>

    function logar() {

        loading.classList.remove('ocult');

        aguardar();

        var form = new URLSearchParams(new FormData(form_login));

        fetch('/login/logar', {
            method: "POST",
            body: form
        }).then(response => {

            loading.classList.add('ocult');

            if (response.ok) {

                response.json().then(usuario => {

                    if (usuario != null) {
                        usuario["tipoLogin"] = tipoLogin.value;
                        let texto = JSON.stringify(usuario);

                        sessionStorage.setItem('userData', texto);

                        window.location.href = 'http://localhost:8081/dashboard';
                    
                    } else {
                        window.location.href = 'http://localhost:8081/admin.html';
                        if (tipoLogin.value == 0) {
                            window.location.href = 'http://localhost:8081/admin.html';
                        } else if (tipoLogin.value == 1) {
                            window.location.href = 'http://localhost:8081/sprint.html';
                        } else {
                            window.location.href = 'http://localhost:8081/dashboard.html';
                        }
                    }

                });

            } else {

                boxAlert.classList.remove('ocult');
                boxAlert.classList.add('alert-active');
                titleAlert.innerHTML = "Alerta!";
                descAlert.innerHTML = "Login e/ou senha inválidos, tente novamente!";

                setTimeout(() => {
                    boxAlert.classList.add('ocult');
                    boxAlert.classList.remove('alert-active');
                }, 5000);

                response.text().then(function (resposta) {
                    console.log("Erro login: " + resposta);
                });
            }

            finalizar_aguardar();
        });

        return false;

    }


    function aguardar() {
        btn_login.disabled = true;
    }

    function finalizar_aguardar() {
        btn_login.disabled = false;
    }
</script>