<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/logo-type3.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/estiloBase.css">
    <link rel="stylesheet" href="assets/css/responsiveDashboard.css">
    
    <script src="assets/js/initDataComponentsPerfil.js"></script>
    <script src="assets/js/sessionManager.js"></script>
    <script src="assets/js/navManager.js"></script>

    <script src="assets/js/perfil.js"></script>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Portal Lynx Coder | Perfil</title>
</head>

<body>

    <div class="sidebar">
        <div class="logo-details">
            <img src="assets/img/logo-type3.1.png" class="icon" alt="">
            <div class="logo_name">LynxCoder</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>

        <ul class="nav-list">
            <li>
                <i class='bx bx-search' ></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            
            <li>
                <a href="#">
                    <i class='bx bxs-user-circle'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>

            <!-- Colaborador -->
            
            <li id="navDashboard">
                <a href="dashboard.html">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>

            <li id="navRelatorios">
                <a href="relatorios.html">
                    <i class='bx bx-line-chart'></i>
                    <span class="links_name">Relatórios</span>
                </a>
                <span class="tooltip">Relatórios</span>
            </li>

            <!-- Gestor -->

            <li id="navEquipe">
                <a href="equipe.html">
                    <i class='bx bxs-group'></i>
                    <span class="links_name">Equipe</span>
                </a>
                <span class="tooltip">Equipe</span>
            </li>

            <li id="navSprint">
                <a href="sprint.html">
                    <i class='bx bxs-bar-chart-alt-2'></i>
                    <span class="links_name">Sprint</span>
                </a>
                <span class="tooltip">Sprint</span>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <img id="foto_perfil_usuario_log_out" src="" alt="profileImg">
                    
                    <div class="name_job">
                        <div class="name" id="nome_usuario_log_out"></div>
                        <div class="job" id="tipo_usuario_log_out"></div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="logoff()"></i>
            </li>
        </ul>
    </div>

    <div class="box-loading ocult" id="loading">
        <span class="circle circle-1"></span>
        <span class="circle circle-2"></span>
        <span class="circle circle-3"></span>
        <span class="circle circle-4"></span>
        <span class="circle circle-5"></span>
        <span class="circle circle-6"></span>
    </div>

    <div class="box-edit-perfil ocult" id="boxModal">
        <form class="edit-perfil" id="form_editUser" method="PUT" onsubmit="return updateUsuario()">
            <i class='bx bx-x' onclick="closedForm()"></i>

            <h1>Editar Perfil!</h1>
            <div class="hr" style="width: 100%;"></div>

            <input id="newName" name="nomeUsuario" class="inputAll" autocomplete="off"  
                        type="text" placeholder="Novo Nome">
            <br>
            <input id="newPass" name="senhaUsuario" class="inputAll" autocomplete="off" 
                        type="password" placeholder="Nova Senha">
            <br>
            <input id="newFoto" name="fotoUsuario" class="inputAll" autocomplete="off" 
                        type="text" placeholder="URL da Foto">

            <div class="hr"></div>

            <input class="inputAll" type="submit" value="Enviar Informações">

        </form>
    </div>

    <section class="home-section">
        <div class="align_perfil">
            <div class="perfil">
                <div class="img_perfil">
                    <img id="foto_perfil_usuario" src="" alt="profileImg">
                </div>
    
                <div class="info_perfil">
                    <h4>Bem vindo</h4>
                    <h1 id="nome_usuario"></h1>
                    <h4 id="tipo_usuario"></h4>
    
                    <div class="hr"></div>
    
                    <p onclick="openForm()">Editar Perfil</p>
                </div>
            </div>
    
            <div class="perfil" id="conquistasColab">
                <h1>Conquistas</h1>
                <div class="conquistas">
                    <div class="conquistas_item">
                        <h1>Tarefas Concluidas</h1>
                        <h1 id="tarefas_c_usuario"></h1>
                    </div>

                    <div class="conquistas_item">
                        <h1>Aproveitamento</h1>
                        <h1 id="aproveitamento_usuario"></h1>
                    </div>

                    <div class="conquistas_item">
                        <h1>Tarefas Pendentes</h1>
                        <h1 id="tarefas_p_usuario"></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="infos_add">
            <h1>Informações Adicionais</h1>

            <div class="card_atvd">
                <p id="p_gestor"><b>Supervisor: </b><span id="nome_gestor"></span></p>
                <p id="p_squad"><b>Squad: </b><span id="squad_usuario"></span></p>
                <p id="p_empresa"><b>Empresa: </b><span id="empresa_usuario"></span></p>
            </div>
        </div>
    </section>

    <script src="./assets/js/sidebar.js"></script>

</body>

<script>

var pendentes = 0;
var concluidas = 0;
var sprintAtiva = 0;
var usuarioId;

(async function () {
    
    check_authentication();
    
    const user = JSON.parse(sessionStorage.getItem('userData'));
    
    const supervisorUser = JSON.parse(sessionStorage.getItem('userSuper'));
    const squadUser = JSON.parse(sessionStorage.getItem('userSquad'));
    const empresaUser = JSON.parse(sessionStorage.getItem('userEmpresa'));

    usuarioId = user.id_usuario;

    // NAVEGADORES
    accessControl(user);

    // SPRINT-ATIVA
    getSprintAtiva(user.id_usuario);

    // FK_SUPERVISOR ----------------------------------------------------
    if(user.fk_supervisor == null || user.fk_supervisor == 'null') {
        document.getElementById('p_gestor').style.display = 'none';
    }else{
        supervisorUser = getDataSupervisor(user.fk_supervisor);
    }

    // INIT COMPONENTES ------------------------------------------------------------------
    if(user.foto_usuario != null || user.foto_usuario != "" || user.foto_usuario != " "){
        document.getElementById('foto_perfil_usuario').src = user.foto_usuario;
        document.getElementById('foto_perfil_usuario_log_out').src = user.foto_usuario;
    } else {
        document.getElementById('foto_perfil_usuario').src = "https://www.pinpng.com/pngs/m/226-2269397_gnar-bot-is-a-hd-png-download.png";
        document.getElementById('foto_perfil_usuario_log_out').src = "https://www.pinpng.com/pngs/m/226-2269397_gnar-bot-is-a-hd-png-download.png";
    }

    let nameSplit = user.nome_usuario.split(' ');

    // NOME E TIPO USUÁRIO
    document.getElementById('nome_usuario').innerHTML = user.nome_usuario;
    document.getElementById('nome_usuario_log_out').innerHTML = `${nameSplit[0]} ${nameSplit[nameSplit.length-1]}`;
    
    document.getElementById('tipo_usuario').innerHTML = !user.is_gestor ? "Colaborador" : "Gestor";
    document.getElementById('tipo_usuario_log_out').innerHTML = !user.is_gestor ? "Colaborador" : "Gestor";
    
    if(user.is_gestor) {
        document.getElementById('conquistasColab').style.display = 'none';
    }else{
        document.getElementById('conquistasColab').style.display = 'block';
    }

    initAddInfo(supervisorUser, squadUser, empresaUser);
    
})();

function initAddInfo(sup, squad, empresa) {
    
    let txtDescGestor = sup !== null ? `${sup.nome_usuario}` : ``;

    document.getElementById("nome_gestor").innerHTML = txtDescGestor;
    document.getElementById("squad_usuario").innerHTML = `${squad.nome}`;
    document.getElementById("empresa_usuario").innerHTML = `${empresa.nome}`;

}

function getSprintAtiva(idUser){
    fetch(`/sprints/sprintAtivaUsuario/${idUser}`, {
        method: 'GET'
    }).then(response => {

        if (response.ok) {

            response.json().then( sprint => {
              
                sprintAtiva = sprint[0].id_sprint;

                // TAREFAS-PENDENTES
                getTarefasPendentes(user.id_usuario);
                
            });

        }else{
            response.text().then(function (resposta) {
                console.log("Erro: " + resposta);
            });
        }

    });
};


async function getTarefasPendentes(idUser) {
    await fetch(`/tarefas/pendentes/${idUser}/${sprintAtiva}`, {
        method: "GET"
    }).then( response => {
                    
        if (response.ok) {
            response.json().then((tarefas) => {

                pendentes = tarefas.length;

                document.getElementById("tarefas_p_usuario").innerHTML = `${tarefas.length}`;

                getTarefasConcluidas(idUser);
            });
        } else {
            response.text().then(function (resposta) {
                console.log("Erro: " + resposta);
            });
        }
                
    });
}

async function getTarefasConcluidas(idUser) {
    await fetch(`/tarefas/concluidas/${idUser}/${sprintAtiva}`, {
        method: "GET"
    }).then( response => {
                    
        if (response.ok) {
            response.json().then((tarefas) => {

                concluidas = tarefas.length
                
                document.getElementById("tarefas_c_usuario").innerHTML = `${tarefas.length}`;
         
                calculaAproveitamento();

            });
        } else {
            response.text().then(function (resposta) {
                console.log("Erro: " + resposta);
            });
        }
                
    });
}

function calculaAproveitamento(){

    let aproveitamento = concluidas > 0 ? (concluidas*100) / (concluidas+pendentes) : 0;

    document.getElementById("aproveitamento_usuario").innerHTML = `${aproveitamento}%`;

}

function updateUsuario(){

    var formUpdateUser = new URLSearchParams(new FormData(form_editUser));

    fetch(`/usuarios/editUsuario/${usuarioId}`, {
            method: "PUT",
            body: formUpdateUser
    }).then(function (response) {
        if (response.ok) {

            response.json().then( result => {

                logoff();

            });

        } else {
            response.text().then(function (resposta) {
                console.log("Erro ao atualizar: " + resposta);
            });
        }
    });

    closedForm();

    return false;

}

</script>

</html>
