<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/logo-type3.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/estiloBase.css">
    <link rel="stylesheet" href="assets/css/responsiveDashboard.css">

    <script src="assets/js/initDataComponentsDashboard.js"></script>
    <script src="assets/js/sessionManager.js"></script>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Portal Lynx Coder | Relatórios</title>
</head>

<body>

    <div class="sidebar">
        <div class="logo-details">
            <img src="assets/img/logo-type3.1.png" class="icon" alt="">
            <div class="logo_name">LynxCoder</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>

        <ul class="nav-list">
            <li>
                <i class='bx bx-search' ></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>

            <li>
                <a href="perfil.html">
                    <i class='bx bxs-user-circle'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>

            <li>
                <a href="dashboard.html">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-line-chart'></i>
                    <span class="links_name">Relatórios</span>
                </a>
                <span class="tooltip">Relatórios</span>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <img id="foto_perfil_usuario_log_out" src="" alt="profileImg">
                    
                    <div class="name_job">
                        <div class="name" id="nome_usuario_log_out"></div>
                        <div class="job" id="tipo_usuario_log_out"></div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="logoff()"></i>
            </li>
        </ul>
    </div>

    <section class="home-section rel">
        <h1 class="title_rel">Relatórios</h1>

        <p class="title_rel">Individual</p>
        <div class="report" id="relInd">
            <div class="cards_rep">
                <h2>Produtividade Sprint 1</h2>
                <p>Alto</p>

                <p>Parabéns, você se dedicou bastante, obrigado...</p>
            </div>

            <div class="cards_rep">
                <h2>Produtividade Sprint 2</h2>
                <p>Médio</p>

                <p>Obrigado pela contribuição, você ainda pode evoluir bastante conosco...</p>
            </div>

            <div class="btn_prev"><i class='bx bxs-left-arrow'></i></div>
            <div class="btn_next"><i class='bx bxs-right-arrow'></i></div>
        </div>

        <p class="title_rel">Equipe</p>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Nome</th>
                    <th>Pontos</th>
                    <th>Atividades</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active-row">
                    <td>1</td>
                    <td>Mateus Breno</td>
                    <td>88</td>
                    <td>3/5</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Pedro Guilherme</td>
                    <td>72</td>
                    <td>6/6</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Jeniffer Sales</td>
                    <td>52</td>
                    <td>1/8</td>
                </tr>
            </tbody>
        </table>

        <div class="align_btn">
            <button>Ver mais...</button>
        </div>
    </section>

    <div class="filter">
        <div class="filter-details">
            <i class='bx bxs-filter-alt icon'></i>
            <div class="logo_name">Filtros</div>
            <i class='bx bxs-left-arrow'id="btnFilter"></i>
        </div>
    </div>

    <script src="./assets/js/sidebar.js"></script>

</body>

<script>

(function () {

    check_authentication();

    const user = JSON.parse(sessionStorage.getItem('userData'));

    // INIT COMPONENTES ------------------------------------------------------------------
    if(user.foto_usuario != null){
        document.getElementById('foto_perfil_usuario_log_out').src = user.foto_usuario;
    } else {
        document.getElementById('foto_perfil_usuario_log_out').src = "https://www.pinpng.com/pngs/m/226-2269397_gnar-bot-is-a-hd-png-download.png";
    }

    let nameSplit = user.nome_usuario.split(' ');

    // NOME E TIPO USUÁRIO
    document.getElementById('nome_usuario_log_out').innerHTML = `${nameSplit[0]} ${nameSplit[nameSplit.length-1]}`;
    
    document.getElementById('tipo_usuario_log_out').innerHTML = !user.is_gestor ? "Colaborador" : "Gestor";

    fetch("/test/test", {
        method: 'GET',
    }).then(function(response){
        if (response.ok) {
            alert('paginação feita com sucesso!');
        } else {
            alert('erro ao paginar!');
        }
    });

})();

</script>

</html>
