<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/logo-type3.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/estiloBase.css">
    <link rel="stylesheet" href="assets/css/responsiveDashboard.css">

    <script src="assets/js/initDataComponentsDashboard.js"></script>
    <script src="assets/js/sessionManager.js"></script>
    <script src="assets/js/navManager.js"></script>
    <script src="assets/js/relatorios.js"></script>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Portal Lynx Coder | Relatórios</title>
</head>

<body>

    <div class="sidebar">
        <div class="logo-details">
            <img src="assets/img/logo-type3.1.png" class="icon" alt="">
            <div class="logo_name">LynxCoder</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>

        <ul class="nav-list">
            <li>
                <i class='bx bx-search' ></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>

            <li>
                <a href="perfil.html">
                    <i class='bx bxs-user-circle'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>

            <!-- Colaborador -->
            
            <li id="navDashboard">
                <a href="dashboard.html">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>

            <li id="navRelatorios">
                <a href="#">
                    <i class='bx bx-line-chart'></i>
                    <span class="links_name">Relatórios</span>
                </a>
                <span class="tooltip">Relatórios</span>
            </li>

            <!-- Gestor -->

            <li id="navEquipe">
                <a href="equipe.html">
                    <i class='bx bxs-group'></i>
                    <span class="links_name">Equipe</span>
                </a>
                <span class="tooltip">Equipe</span>
            </li>

            <li id="navSprint">
                <a href="sprint.html">
                    <i class='bx bxs-bar-chart-alt-2'></i>
                    <span class="links_name">Sprint</span>
                </a>
                <span class="tooltip">Sprint</span>
            </li>

            <li id="navConfig">
                <a href="">
                    <i class='bx bxs-cog'></i>
                    <span class="links_name">Configurações</span>
                </a>
                <span class="tooltip">Configurações</span>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <img id="foto_perfil_usuario_log_out" src="" alt="profileImg">
                    
                    <div class="name_job">
                        <div class="name" id="nome_usuario_log_out"></div>
                        <div class="job" id="tipo_usuario_log_out"></div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="logoff()"></i>
            </li>
        </ul>
    </div>

    <div class="box-edit-feedback ocult" id="boxFeedback">
        <form name="formFeedback" class="edit-feedback" method="post" onsubmit="return submitFeedback()">
            <i class='bx bx-x' onclick="closeForm()"></i>

            <h1>Feedback <span id="spnSprintName"></span></h1>
            <div class="hr" style="width: 100%;"></div>
            
            <input name="aproveitamento" class="inputAll" type="number" placeholder="Aproveitamento 0 - 10">
            <br>
            <input name="facilidade" class="inputAll" type="number" placeholder="Facilidade 0 - 10">
            <br>
            <input name="mensagem" class="inputAll" type="text" placeholder="Mensagem">
            <br>
            <input id="inputFkFeedback" name="fk" style="display: none;" type="number">

            <div class="hr"></div>

            <input class="inputAll" type="submit" value="Enviar Informações">

        </form>
    </div>

    <section class="home-section rel">
        <h1 class="title_rel">Relatórios</h1>

        <p class="title_rel">Feedbacks Pendentes</p>
        <div class="report" id="relInd">
            <div class="btn_prev"><i class='bx bxs-left-arrow'></i></div>
            <div class="btn_next"><i class='bx bxs-right-arrow'></i></div>
        </div>

        <p class="title_rel">Equipe</p>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Nome</th>
                    <th>Pontos</th>
                    <th>Atividades</th>
                </tr>
            </thead>
            <tbody class="body-table"></tbody>
        </table>

        <div class="rel">
            <div class="align_btn">
                <button onclick="return ver_mais()">Ver mais</button>
            </div>
        </div>
    </section>

    <script src="./assets/js/sidebar.js"></script>

</body>

<script>

var i = 0;

var sprintAtiva = 0;

var concluidas = [];
var pendentes = [];

var length_list = 3;

var user_pad = null;

(function () {

    check_authentication();

    const user = JSON.parse(sessionStorage.getItem('userData'));

    // NAVEGADORES
    accessControl(user);

    // INIT COMPONENTES ------------------------------------------------------------------
    if(user.foto_usuario != null){
        document.getElementById('foto_perfil_usuario_log_out').src = user.foto_usuario;
    } else {
        document.getElementById('foto_perfil_usuario_log_out').src = "https://www.pinpng.com/pngs/m/226-2269397_gnar-bot-is-a-hd-png-download.png";
    }

    let nameSplit = user.nome_usuario.split(' ');

    // NOME E TIPO USUÁRIO
    document.getElementById('nome_usuario_log_out').innerHTML = `${nameSplit[0]} ${nameSplit[nameSplit.length-1]}`;
    
    document.getElementById('tipo_usuario_log_out').innerHTML = !user.is_gestor ? "Colaborador" : "Gestor";

    user_pad = user;
    
    console.log(user);
    // console.log(user_pad);
    // return ver_usuarios(user);

    return getSprintAtiva(user.id_usuario)

    // FEEDBACKS PENDENTES
    getFeedbacks(user);

})();

function interator() {
    i+=1;
}

async function getSprintAtiva(idUser){
    fetch(`/sprints/sprintAtivaUsuario/${idUser}`, {
        method: 'GET'
    }).then(response => {

        if (response.ok) {

            response.json().then( sprint => {
              
                sprintAtiva = sprint[0].id_sprint;
                ver_usuarios(user_pad);

            });

        }else{
            response.text().then(function (resposta) {
                console.log("Erro: " + resposta);
            });
        }

    });
};

async function ver_usuarios(a) {

    const usersContainer = document.querySelector('.content-table .body-table');

    let response = await fetch(`/usuarios/usuariosSquadLimited/${a.fk_squad}/${length_list}`, {
        method: 'GET',
    });

    let users = await response.json();
    console.log(users);

    let i = 0;
    users.forEach(b => {
        console.log(concluidas);
        concluidas.push(verifica_atvds(b.id));


        if(i == 0)
        usersContainer.innerHTML += `
        <tbody class="body-table">
            <tr class="active-row">
                <td>${b.id}</td>
                <td>${b.nome}</td>
                <td>88</td>
                <td>${pendentes}/${concluidas[i]}</td>
            </tr>
        </tbody>`;
        else
        usersContainer.innerHTML += `
        <tbody class="body-table">
            <tr>
                <td>${b.id}</td>
                <td>${b.nome}</td>
                <td>88</td>
                <td>${pendentes}/${concluidas[i]}</td>
            </tr>
        </tbody>`;

        i++;
    });

}

async function verifica_atvds(idUser) {
    await fetch(`/tarefas/allOfSprint/${idUser}/${sprintAtiva}`, {
        method: 'GET',
    }).then( response => {          
        if (response.ok) {
            response.json().then((tarefas) => {

                console.log(tarefas.length);
                return tarefas.length;

            });
        } else {
            response.text().then(function (resposta) {
                console.log("Erro: " + resposta);
            });
        }
                
    });
}

function ver_mais() {
    length_list += 3;
    ver_usuarios(user_pad);
}

</script>

</html>
