<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/logo-type3.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/estiloBase.css">
    <link rel="stylesheet" href="assets/css/responsiveDashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    
    <script src="assets/js/sprints.js"></script>
    <script src="assets/js/trelloManager.js"></script>
    <script src="assets/js/sessionManager.js"></script>
    <script src="assets/js/navManager.js"></script>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Portal Lynx Coder | Sprint</title>
</head>

<body>

    <div class="box-loading" id="loading">
        <span class="circle circle-1"></span>
        <span class="circle circle-2"></span>
        <span class="circle circle-3"></span>
        <span class="circle circle-4"></span>
        <span class="circle circle-5"></span>
        <span class="circle circle-6"></span>
    </div>

    <div class="sidebar">
        <div class="logo-details">
            <img src="assets/img/logo-type3.1.png" class="icon" alt="">
            <div class="logo_name">LynxCoder</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>

        <ul class="nav-list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>

            <li>
                <a href="perfil.html">
                    <i class='bx bxs-user-circle'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>

            <!-- Colaborador -->
            
            <li id="navDashboard">
                <a href="dashboard.html">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>

            <li id="navRelatorios">
                <a href="relatorios.html">
                    <i class='bx bx-line-chart'></i>
                    <span class="links_name">Relatórios</span>
                </a>
                <span class="tooltip">Relatórios</span>
            </li>

            <!-- Gestor -->

            <li id="navEquipe">
                <a href="equipe.html">
                    <i class='bx bxs-group'></i>
                    <span class="links_name">Equipe</span>
                </a>
                <span class="tooltip">Equipe</span>
            </li>

            <li id="navSprint">
                <a href="#">
                    <i class='bx bxs-bar-chart-alt-2'></i>
                    <span class="links_name">Sprint</span>
                </a>
                <span class="tooltip">Sprint</span>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <img id="foto_perfil_usuario_log_out" src="" alt="profileImg">
                    
                    <div class="name_job">
                        <div class="name" id="nome_usuario_log_out"></div>
                        <div class="job" id="tipo_usuario_log_out"></div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="logoff()"></i>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <div class="dashboard">
            <div class="dash_left">
                <div class="components">
                    <div id="sprint_header" class="sprint_header">
                        <h1 id="h1_nome_sprint">Sprint Atual</h1>
                    </div>

                    <div id="sprint_data" display="none">
                        <div class="dash_align">
                            <div class="info_components">
                                <div class="dash_item">
                                    <h4>Entregas</h4>

                                    <div class="canvas">
                                        <canvas id="ctxEntregas"></canvas>
                                    </div>
                                </div>
                                <div class="dash_item">
                                    <h4>Pontuação Atual</h4>

                                    <div class="canvas">
                                        <canvas id="ctxPontuacao"></canvas>
                                    </div>
                                </div>
                                <div class="dash_item">
                                    <h4>Participantes</h4>

                                    <div class="canvas">
                                        <canvas id="ctxParticipantes"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="no_sprint" display="none">
                        Opa! Parece que sua squad não possui uma sprint ativa
                    </div>
                </div>

                <div class="components">
                    <h1>Squad</h1>

                    <br><br><br>
                    <div class="chart_atvds">
                        <div id="squad_canvas" class="canvas">
                            <canvas id="ctxSquad"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dash_right">
                <h1>Feedbacks Última Sprint</h1>

                <div id="div_feedbacks" class="atvds">
                    <span id="span_nofeedback">Ainda não há nada por aqui...</span>
                </div>
            </div>
        </div>

    </section>

</body>

</html>

<script>

(function (){

    check_authentication();

    const user = JSON.parse(sessionStorage.getItem('userData'));

    // NAVEGADORES
    accessControl(user);

    // INIT COMPONENTES ------------------------------------------------------------------
    if(user.foto_usuario != null){
        document.getElementById('foto_perfil_usuario_log_out').src = user.foto_usuario;
    } else {
        document.getElementById('foto_perfil_usuario_log_out').src = "https://www.pinpng.com/pngs/m/226-2269397_gnar-bot-is-a-hd-png-download.png";
    }

    let nameSplit = user.nome_usuario.split(' ');

    // NOME E TIPO USUÁRIO
    document.getElementById('nome_usuario_log_out').innerHTML = `${nameSplit[0]} ${nameSplit[nameSplit.length-1]}`;

    document.getElementById('tipo_usuario_log_out').innerHTML = !user.is_gestor ? "Colaborador" : "Gestor";

})();

    let sidebar = document.querySelector(".sidebar");

    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {

        sidebar.classList.toggle("open");
        menuBtnChange();

    });

    searchBtn.addEventListener("click", () => {

        sidebar.classList.toggle("open");
        menuBtnChange();

    });

    function menuBtnChange() {

        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }

    }

    Chart.defaults.global.defaultFontColor = "#303030";
    Chart.pluginService.register({
        beforeDraw: function (chart) {
            if (chart.config.options.elements.center) {
                var ctx = chart.chart.ctx;

                var centerConfig = chart.config.options.elements.center;
                var fontStyle = centerConfig.fontStyle || 'Arial';
                var txt = centerConfig.text;
                var color = centerConfig.color || '#000';
                var sidePadding = centerConfig.sidePadding || 20;
                var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)

                ctx.font = "30px " + fontStyle;

                var stringWidth = ctx.measureText(txt).width;
                var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

                var widthRatio = elementWidth / stringWidth;
                var newFontSize = Math.floor(30 * widthRatio);
                var elementHeight = (chart.innerRadius * 2);

                var fontSizeToUse = Math.min(newFontSize, elementHeight);

                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
                var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
                ctx.font = fontSizeToUse + "px " + fontStyle;
                ctx.fillStyle = color;

                ctx.fillText(txt, centerX, centerY);
            }
        }
    });

</script>
