/* Colors 
_________________________________ */

:root {
    --color-primary: #625ACF;
    --color-weight: #43318f;
    --color-blue: #012241;
    --color-white: #ffffff;
    --color-gray: #f3f3f3;
    --color-black: #303030;
}

.cadastro {
    text-align: left;
}

/*  Texts
_________________________________ */

.align-cad h1 { 
    font-size: 45px;
    text-align: justify center;
    color: var(--color-blue);
}

.align-cad p { 
    font-size: 18px;
    font-weight: 800;
    text-align: justify center;
    color: #435da5;
    margin: 30px 0;
}

/* .align-cad h1, .align-cad p {
    margin-left: 20%;
    margin-right: 20%;
} */

/*  Labels/Buttons
_________________________________ */

.align-labels-cad {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item-labels-cad {
    text-align: center;
    height: max-content;
}

.item-labels-cad {
    width: 100%;
    display: flex;
    justify-content: center;
}

.item-labels-cad input {
    padding: 15px 20px;
    border: 1px solid #8b8787;
    border-radius: 4px;
    margin: 4px 0;
}


