@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.ocult{
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: .5s ease-in-out;
}

/* Menu 
_________________________________ */

header{
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: background .5s ease-in-out;
}

.header-active { 
    background: #25224F;
    transition: background .5s ease-in-out;
}

nav.navbar{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-active {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100003;
}

nav.navbar img {
    height: 30%;
    filter: drop-shadow(0 0 20px #f3f3f3);
}

nav.navbar-active img {
    height: 60%;
}

nav.navbar ul {
    background: #5743af;
    box-shadow: 0 0 10px #ffffffa2;
    padding: 1% 2% 1% 5%;
    border-radius: 200px;
}

.nav.navbar-active ul {
    background: #5743af;
    box-shadow: 0 0 10px #ffffffa2;
    padding: .5% 2% .5% 5%;
    border-radius: 200px;
}

nav.navbar ul li, nav.navbar-active ul li{
    list-style: none;
    display: inline-block;
}

nav ul li:not(:last-of-type){
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    transition: color .3s ease-in-out, text-shadow .3s ease-in-out;
}

nav ul li a:hover{
    /* color: #A19DD7; */
    text-shadow: 0 0 10px #25224f80;
}

nav ul li a.li-checked{
    color: #fff;
    font-weight: 900;
    text-shadow: 0 0 10px #25224f80;
}

nav .btn-try{
    background-color: #fff;
    color: #25224F;
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

nav .btn-try:hover{ background: #cccaeb; }

/* Menu Mobile
_________________________________ */

.menu-mobile {
    display: none;
    z-index: 3000;
}

.menu{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 15px;
    right: 20px;
    cursor: pointer;
    z-index: 300;
    box-shadow: 0 0 0 0 #2f4c67, 0 0 0 0 #25224F;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
}

.menu:hover{
    box-shadow: 0 0 0 1px #49439C, 0 0 0 1px #49439C;
}

.box-menu {
    width: 300px;
    z-index: 1000;
    height: 100vh;
    background: #25224F;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    transform: translateX(300px);
}

.box-menu a {
    color: #f3f3f3;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-menu button {
    margin: 20px 0;
}

.box-menu a:hover {
    background: #f3f3f3;
    color: #25224F;
}

.box-menu a:first-of-type {
    margin-top: 20px;
}

.btn-close {
    width: 40px;
    height: 100vh;
    background: #f3f3f3;
    position: fixed;
    right: 0;
    transform: translateX(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: lighter;
    color: #25224F;
    cursor: pointer;
    z-index: 3000;
    opacity: 0;
    transition: .5s ease-in-out;
}

.btn-close:hover {
    background: #cccaeb;
}

.hamburguer{
    position: relative;
    display: block;
    background: #444444;
    width: 30px;
    height: 2px;
    top: 24px;
    left: 10px;
    box-shadow: 0 0 10px #f3f3f3;
    transition: .5s ease-in-out;
}

.hamburguer::before,
.hamburguer::after{
    background: #444444;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 0 10px #f3f3f3;
    transition: .5s ease-in-out;
}

.hamburguer::before{top: -10px;}
.hamburguer::after{ bottom: -10px;}

input.input-menu{display: none;}

.input-menu:checked ~ .box-menu {
    transform: translateX(0);
    transition: 1s ease-in-out;
}

.input-menu:checked ~ .btn-close {
    transform: translateX(-300px);
    opacity: 1;
    transition: 1s ease-in-out;
}

.input-menu:checked ~ label .hamburguer{
    transform: rotate(45deg);
}

.input-menu:checked ~ label .hamburguer::before{
    transform: rotate(90deg);
    top: 0;
}

.input-menu:checked ~ label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
}

/* Footer 
_________________________________ */

footer{
    width: 100%;
}

.footer-info{
    background: #49439C;
    padding: 250px 0 50px 0; 
}

.align-footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collum-footer{
    width: 30%;
    color: #f3f3f3;
    text-align: justify;
}

.collum-footer h2{
    margin-bottom: 20px;
}

.collum-footer p{
    margin-bottom: 10px;
}

.align-links-footer{
    width: 100%;
    padding: 100px 0 0 0;
    text-align: right;
}

.footer-copyright{
    background: #f3f3f3;
    padding: 20px 0;
    font-size: 15px;
}

/* Loading
_________________________________ */

.box-loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 100001;
    align-items: center;
    position: fixed;
    background: #42318f71;
    box-shadow: 0 0 10px #30303034;;
}

.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #ebebeb;
    border-radius: 50%;
    animation: loading 1.3s cubic-bezier(.8, .5, .2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
  }

  @keyframes loading{
    0%{
      transform: translateY(0px);
      background-color: #d3cbf8;
    }
    50%{
      transform: translateY(20px);
      background-color: #3d3270;
    }
    100%{
      transform: translateY(0px);
      background-color: #ebebeb;
    }
  }

.circle-1{animation-delay: 0.1s;}
.circle-2{animation-delay: 0.2s;}
.circle-3{animation-delay: 0.3s;}
.circle-4{animation-delay: 0.4s;}
.circle-5{animation-delay: 0.5s;}
.circle-6{animation-delay: 0.6s;}

/* Alert
_________________________________ */

.alert{
    transform: translateX(200%);
    background: #ebebeb;
    border: 3px solid #3c3883;
    box-shadow: 0 0 20px #a8a3f088;
    border-radius: 4px;
    padding: 10px 50px 10px 10px;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 100002;
    transition: .5s ease-in-out;
}

.alert-active{transform: translateX(0%)}

.alert i{
    font-size: 25px;
    color: #1d1b46;
    text-shadow: 0 0 5px #25224f73;
    position: absolute;
    top: 10px;
    right: 10px;
}

.alert h3{
    font-size: 15px;
}

.alert p{
    font-size: 14px;
}




#span_nofeedback{
    text-align: center;
}