/* Google Font Link */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ocult{
    opacity: 0;
    pointer-events: none;
    transition: .5s ease-in-out;
}

/* sidebar 
_________________________________ */

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #25224F;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open{
    width: 250px;
}

.sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon{
    width: 70px;
    padding: 0 10px;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
    opacity: 1;
}

.sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn{
    text-align: right;
}

.sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
}

.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px #0000004d;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip{
    display: none;
}

.sidebar input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
}

.sidebar.open .bx-search:hover{
    background: #1d1b31;
    color: #FFF;
}

.sidebar .bx-search:hover{
    background: #FFF;
    color: #11101d;
}

.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #25224F;
}

.sidebar li a:hover{
    background: #FFF;
}

.sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile{
    width: 250px;
}

.sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job{
    font-size: 12px;
}

.sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.sidebar.open .profile #log_out{
    width: 50px;
    background: none;
}


/* Home(middle) 
_________________________________ */

.home-section{
    position: relative;
    background: #ebebeb;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
}

@media (max-width: 420px) {
    .sidebar li .tooltip{
        display: none;
    }
}

.hr{
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: #cacaca;
}

/* Perfil 
_________________________________ */

.align_perfil{
    width: 65%;
}

.perfil{
    color: #1d1b31;
    width: 100%;
    height: max-content;
    padding: 20px 20px 50px;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    border-radius: 4px;
    margin-bottom: 20px;
}

.perfil:last-of-type{ 
    justify-content: flex-start;
    flex-direction: column;
}

.perfil:last-of-type h1{
    color: #1d1b31;
    margin-bottom: 20px;
}

.conquistas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conquistas_item{
    width: 32%;
    height: 200px;
    background: #ebebeb;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.conquistas_item h1:first-child{
    font-size: 20px;
    font-weight: 100;
}

.conquistas_item h1:last-of-type{
    font-size: 40px;
    font-weight: 500;
}

.img_perfil{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_perfil img{
    border-radius: 50%;
    width: 60%;
}

.info_perfil{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_perfil h1 {
    font-weight: bold;
    font-size: 30px;
    padding: 5px 0 20px;
}

.info_perfil p,
.info_perfil h4{
    font-weight: lighter;
}

.info_perfil p{
    cursor: pointer;
    text-decoration: underline;
}

.infos_add{
    width: 30%;
    background: #fff;
    border-radius: 4px;
    padding: 15px;
}

.infos_add h1{
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 25px;
    text-align: center;
    color: #1d1b31;
}

.infos_add .card_atvd p{
    font-size: 15px;
    font-weight: 500;
}

.infos_add .card_atvd p:not(:first-of-type){
    margin-top: 15px;
}

.box-edit-perfil{
    width: 100%;
    height: 100vh;
    background: #42318f71;
    box-shadow: 0 0 10px #30303034;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    z-index: 4000;
    position: fixed;
}

.edit-perfil{
    width: 60%;
    padding: 15px;
    border-radius: 4px;
    background: #fff;
    position: relative;
}

.edit-perfil i{
    position: absolute;
    color: #3f3f3f;
    font-size: 30px;
    cursor: pointer;
    right: 10px;
    top: 20px;
    transition: .3s ease-in-out;
}

.edit-perfil i:hover{
    color: #49439C;
}

.edit-perfil h1{
    color: #1d1b31;
}

.edit-perfil input{
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
    padding: 20px 4%;
    border: none;
    background: #ebebeb;
}

.edit-perfil input[type='submit']{
    background: #49439C;
    cursor: pointer;
    padding: 15px 4%;
    font-size: 17px;
    color: #f3f3f3;
    box-shadow: none;
    transition: .4s ease-in-out;
}

.edit-perfil input[type='submit']:hover{background: #5fc55f;}

/* Relatórios 
_________________________________ */

.rel{
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

.report{
    width: 70%;
    height: max-content;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: start;
    border-radius: 4px;
    position: relative;
}

.cards_rep{
    width: 350px;
    height: 150px;
    padding: 15px;
    margin-right: 10px;
    background: #f6f6fb;
    border-radius: 4px;
    position: relative;
}

.cards_rep h2{
    font-size: 18px;
    font-weight: 700;
    color: #25224F;
    text-transform: uppercase;
}

.cards_rep p:first-of-type{
    font-size: 13px;
    font-weight: 500;
    color: #6b57c5;
}

.cards_rep p:last-of-type{
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    color: #1d1b31;
}

.btn_prev{
    left: 0;
    opacity: 0;
    border-radius: 4px 0 0 4px;
}

.btn_next{
    right: 0;
    border-radius: 0 4px 4px 0;
}

.btn_prev,
.btn_next{
    display: flex;
    align-items: center;
    padding: 2px;
    position: absolute;
    height: 100%;
    margin-top: -10px;
    /* top: 40%; */
    color: #fff;
    background-color: #312f5a;
}

.btn_prev i,
.btn_next i{
    font-size: 35px;
}

h1.title_rel{
    color: #1d1b31;
    font-size: 30px;
    padding: 20px 0 20px;
}

h1.title_rel{
    font-weight: 800;
}

p.title_rel{
    font-weight: 500;
    color: #25224F;
    font-size: 18px;
    padding-bottom: 5px;
}

p.title_rel:last-of-type{
    padding-top: 20px;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    width: 70%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
  
.content-table thead tr {
    background-color: #322f50;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
  
.content-table th,
.content-table td {
    padding: 12px 40px;
}
  
.content-table tbody tr {
    background: #fff;
    border-bottom: 1px solid #dddddd;
}
  
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #43318f;
}
  
.content-table tbody tr.active-row {
    font-weight: bold;
    color: #43318f;
}

.content-table tbody tr.active-row1 {
    font-weight: bold;
    color: #ffd700;
}

.content-table tbody tr.active-row2 {
    font-weight: bold;
    color: #777777;
}

.content-table tbody tr.active-row3 {
    font-weight: bold;
    color: #be610a;
}

.rel button{
    max-width: 200px;
    padding: 10px 20px;
    background: #25224F;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #25224F;
    cursor: pointer;
    margin-top: 20px;
    transition: background .5s ease, color .5s ease;
}

.rel button:hover{
    background: #ebebeb;
    color: #25224F;
}

.rel .align_btn{
    width: 70%;
    text-align: right;
}

.filter{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #25224F;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.filter.open{
    width: 25%;
}

.filter .filter-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.filter .filter-details .icon{
    color: #fff;
    width: 70px;
    padding: 0 10px;
    opacity: 0;
    transition: all 0.5s ease;
}

.filter .filter-details .logo_name{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.filter.open .filter-details .icon,
.filter.open .filter-details .logo_name{
    opacity: 1;
}

.filter .filter-details #btnFilter{
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.filter.open .filter-details #btnFilter{
    text-align: right;
}

.filter i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

/* Desempenho 
_________________________________ */

.dashboard{
    width: 100%;
    padding: 0 20px 20px;
    height: 100%;
    color: #1d1b31;
    display: flex;
    justify-content: space-between;
}

.dash_left{
    width: 69%;
}

.components{
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 20px;
}

.components:last-child{
    margin-bottom: 0;
}

.dash_align{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.dashboard h1{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 25px;
}

.info_components{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash_item{
    background: #f3f3f3;
    width: 32%;
    /* height: 150px; */
    border-top: 10px solid #f3f3f3;
    border-left: 10px solid #f3f3f3;
    border-right: 10px solid #f3f3f3;
    border-bottom: 40px solid #f3f3f3;
    border-radius: 4px;
}


.dash_item h4{
    margin-bottom: 20px;
}

.canvas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_canvas{
    margin-top: 20px;
}

.info_canvas h1{
    color: #322f50;
    font-weight: 700;
    font-size: 30px;
}

#MyCanvas{
    height: 100%;
}

.chart_sprint{
    width: 80%;
    height: 250px;
    background: #fff;
    padding: 0 0 50px;
    margin: 0 auto;
}

.chart_atvds{
    width: 80%;
    height: 250px;
    background: #fff;
    padding: 0 0 50px;
    margin: 0 auto;
}

.dash_right{
    width: 29%;
    border-radius: 4px;
    padding: 0 20px;
    background: #fff;
}

.dash_right h1{
    text-align: center;
    padding: 20px 20px 0;
}

.atvds{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
}

.card_atvd{
    width: 100%;
    background: #f6f6fb;
    border-radius: 4px;
    padding: 20px 20px 25px;
    margin-bottom: 10px;
}

.card_atvd h2{
    color: #312f5a;
    font-size: 15px;
    font-weight: 500;
}

.card_atvd p{
    color: #312f5a;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
}

.card_atvd h3{
    color: #11101d;
    font-size: 17px;
    margin-top: 10px;
    font-weight: 100;
}

.card_atvd h4{
    color: #312f5a;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: 100;
}

.btn_more_card{
    width: 100%;
    background: #5642af;
    border-radius: 4px;
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.btn_more_card:hover{
    background: #6e57d4;
    color: #fff;
}

.sprint_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sprint_header button {
    background: #5642af;
    border-radius: 4px;
    padding: 0px 10px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.sprint_header button:hover {
    background: #6e57d4;
    color: #fff;
}

/* Relatórios */
.box-edit-feedback{
    width: 100%;
    height: 100vh;
    background: #42318f71;
    box-shadow: 0 0 10px #30303034;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    z-index: 4000;
    position: fixed;
}

.edit-feedback{
    width: 60%;
    padding: 15px;
    border-radius: 4px;
    background: #fff;
    position: relative;
}

.edit-feedback i{
    position: absolute;
    color: #3f3f3f;
    font-size: 30px;
    cursor: pointer;
    right: 10px;
    top: 20px;
    transition: .3s ease-in-out;
}

.edit-feedback i:hover{
    color: #49439C;
}

.edit-feedback h1{
    color: #1d1b31;
}

.edit-feedback input{
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
    padding: 20px 4%;
    border: none;
    background: #ebebeb;
}

.edit-feedback input[type='submit']{
    background: #49439C;
    cursor: pointer;
    padding: 15px 4%;
    font-size: 17px;
    color: #f3f3f3;
    box-shadow: none;
    transition: .4s ease-in-out;
}

.edit-feedback input[type='submit']:hover{background: #5fc55f;}