/* Media query 
_________________________________ */

@media only screen and (max-width: 1020px) {
    
    header {
        display: none;
    }

    .menu-mobile {
        display: block;
    } 
    
    h1 {
        font-size: 40px;
        color: #333;
    
        margin-top: 80px;
    }

    .section-formulario img {
        height: 200px;
    }

    .iframe-google-maps {
        width: 800px;
    }

}

@media only screen and (max-width: 830px) {

 
}

@media only screen and (max-width: 630px) {

    .section-formulario img {
        display: none;
    }
 
}