:root{
    --cor-principal: #49439C;
    --azul-titulo: #25224F;
    --branco-ideal: #f8f8ff;
    --branco-gelo: #e6e6e6;
    --ombre-rose-brosseau: #ffe9f8;
}


#companies-partners{
    width: 100%;
    height: auto;

    background-color: var(--branco-ideal);

    padding: 13vh;

    font-size: larger;
    color: var(--azul-titulo);
    text-align: center;
}

.empresas{
    width: 50%;

    display: flex;
    justify-content: space-around;

    margin-top: 10vh;
}

.empresas img {
    width: 90px;
    
    filter: sepia(1);

    transition: .2s;
}

.empresas img:hover {
    transform: scale(1.2);
    filter: sepia(0);
}

#linxImage{
    width: 100px;
    position: relative;
    top: -2.5vh;
}

#our-clients{
    width: 100%;
    height: 125vh;

    background-color: var(--cor-principal);

    padding: 25vh;

    font-size: larger;
    color: var(--branco-ideal);
    text-align: center;
}

.container-slider-clientes{
    width: 95%;
    height: 40vh;
    
    display: grid;
    place-items: space-around;

    margin-top: 15vh;
}

.slider-clientes{
    position: relative;
    width: 100%;
    height: 90%;

    grid-area: 1/1;

    background-color: var(--cor-principal);

    border-radius: 150px;
}

.slide-nav{
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.slide-nav button{
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    height: 35vh;
    opacity: 0;
}

.slider-clientes > *{
    opacity: 0;
}

.slider-clientes > .active{
    opacity: 1;
}

.slide{
    width: 100%;
    height: 100%;

    position: absolute;

    padding: 50px;

    background-color: var(--branco-ideal);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: var(--azul-titulo);
    text-align: justify;

    border-radius: 150px;

    transition: 1s;
}

.img-publisher{
    width: 290px;
    height: 130%;

    overflow: hidden;

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 4vw;
}

.img-publisher img{
    width: 160%;
}

.publisher-data{
    font-weight: bold;
}


.slide-thumb{
    display: flex;
    grid-column: 1 / 3;

    justify-content: center;
}

.slide-thumb > span{
    /* flex: 1; */
    display: block;
    width: 10%;
    height: 3px;
    background-color: #c7c7c7c5;
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
}


.slide-thumb > span.active::after{
    content: '';
    display: block;
    height: inherit;
    background-color: var(--cor-principal);
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumbAnimation 5s linear;
}

@keyframes thumbAnimation {
    to {
        transform: initial;
    }
}


#inovation{
    width: 100%;
    height: 110vh;

    background-color: var(--branco-gelo);

    padding: 20vh;

    font-size: x-large;
    color: var(--azul-titulo);
    text-align: center;
}

.topicos-projeto{
    width: 100%;
    height: 50vh;
    
    display: flex;
    justify-content: space-around;

    margin-top: 10vh;
}

.topico{
    width: 18%;
    height: 85%;

    background-color: #ffffff;

    display: grid;
    place-items: center;
    place-content: space-evenly;

    text-align: center;

    border-radius: 15px;

    box-shadow: 0 0 1em 0 #7e7e7e;

    transition: .5s;
}

.topico:hover{
    transform: scale(1.1);
}

#topico-2{
    height: 100%;
}

#topico-4{
    height: 75%;
}

.topico .icon{
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -15%;

    border: 1px solid var(--cor-principal);
    border-radius: 10px;
}

.topico .icon img{
    width: 50%;
    height: 60%;
}

.topico h2{
    font-size: x-large;
    color: var(--cor-principal);
    text-align: center;
}



#learnings{
    width: 100%;
    height: 130vh;

    background-color: var(--branco-gelo);

    padding: 20vh;

    font-size: x-large;
    color: var(--azul-titulo);
    text-align: center;
}

.list-learnings{
    width: 90%;
    height: 55vh;
    
    display: flex;
    justify-content: space-between;

    margin-top: 10vh;

    background-color: var(--ombre-rose-brosseau);
}

.learn{
    width: 32%;
    height: 100%;

    background-color: #ffffff;

    text-align: justify;
}

.learn img{
    width: 100%;
}

.description-publication{
    padding: 0% 10% 5% 10%;
}

.publisher-name{
    font-size: small;
}

.publisher-name:hover{
    color: #118111;
}

.publication-title{
    font-size: 0.8em;
}

.publication-title a{
    text-decoration: none;
    color: black;
}

.publication-title a:hover{
    color: #118111;
}

.button-click{
    width: 25%;
    height: 50px;

    background-color: var(--cor-principal);

    border: 1px solid ;
    border-radius: 30px;

    margin-top: 5vh;

    font-size: 0.65em;
    color: white;
    text-decoration: none;

    outline: none;

    cursor: pointer;

    transition: .5s;
}

.button-click:hover{
    background-color: #a7c9f0;

    color: var(--azul-titulo);

    border: 1px solid var(--azul-titulo);
}

#try-it{
    width: 100%;
    height: 85vh;

    background-color: var(--ombre-rose-brosseau);

    font-size: x-large;
    color: var(--azul-titulo);
    text-align: center;
}

.experience{
    width: 100%;
    height: 115vh;

    position: relative;

    z-index: 1;

    background-color: white;
}

.title-experience{
    height: 50vh;
}

.title-experience h1{
    padding-top: 16vh;
}

.content-experience{
    width: 100%;
    height: 65vh;

    display: flex;
    justify-content: center;
}

.content-experience .part-1{
    width: 50%;
    height: 100%;

    background-image: url('../img/team-spirit-cuate.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.content-experience .part-2{
    width: 50%;
    height: 100%;

    display: grid;
    place-content: center;
    place-items: center;

    background-color: rgb(117, 117, 113);
}

.content-experience .part-2 h1{
    color: var(--branco-ideal);

    margin-bottom: 5vh;
}

.content-experience .part-2 h2{
    font-size: large;
    color: var(--branco-ideal);
}

.content-experience .part-2 .button-click{
    width: 70%;
}