*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: Roboto, Thin Sans, century gothic, Arial, sans-serif;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Menu 
_________________________________ */

header{
    width: 100%;
    position: fixed;
}

nav.navbar{

    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.navbar img{
    height: 30%;
}

nav.navbar ul{
    background: #fff;
    box-shadow: 0 0 10px #30303023;
    padding: 1% 2% 1% 5%;
    border-radius: 200px;
}

nav.navbar ul li{
    list-style: none;
    display: inline-block;
}

nav.navbar ul li:not(:last-of-type){
    margin-right: 50px;
}

nav.navbar ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #303030;
    transition: color .3s ease-in-out, text-shadow .3s ease-in-out;
}

nav.navbar ul li a:hover{
    /* color: #A19DD7; */
    text-shadow: 0 0 10px #25224f80;
}

nav.navbar ul li a.li-checked{
    color: #25224F;
    text-shadow: 0 0 10px #25224f80;
}

nav.navbar .btn-try{
    background-color: #625ACF;
    color: #fff;
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

nav.navbar .btn-try:hover{
    background: #847ee2;
}

/* Footer 
_________________________________ */

footer{
    margin-top:50px;
    width: 100%;
}

.footer-info{
    background: #49439C;
    padding: 100px 0 50px 0; 
}

.align-footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collum-footer{
    width: 30%;
    color: #f3f3f3;
    text-align: justify;
}

.collum-footer h2{
    margin-bottom: 20px;
}

.align-links-footer{
    width: 100%;
    padding: 100px 0 0 0;
    text-align: right;
}

.footer-copyright{
    background: #f3f3f3;
    padding: 20px 0;
    font-size: 15px;
}