
*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto" , "century gothic", sans-serif;
}

.container{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Menu 
_________________________________ */

header{
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: background .5s ease-in-out;
}

.header-active { 
    background: #25224F;
    transition: background .5s ease-in-out;
}

nav.navbar{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-active {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.navbar img {
    height: 30%;
    filter: drop-shadow(0 0 20px #f3f3f3);
}

nav.navbar-active img {
    height: 60%;
}

nav.navbar ul {
    background: #5743af;
    box-shadow: 0 0 10px #ffffffa2;
    padding: 1% 2% 1% 5%;
    border-radius: 200px;
}

.nav.navbar-active ul {
    background: #5743af;
    box-shadow: 0 0 10px #ffffffa2;
    padding: .5% 2% .5% 5%;
    border-radius: 200px;
}

nav.navbar ul li, nav.navbar-active ul li{
    list-style: none;
    display: inline-block;
}

nav ul li:not(:last-of-type){
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    transition: color .3s ease-in-out, text-shadow .3s ease-in-out;
}

nav ul li a:hover{
    /* color: #A19DD7; */
    text-shadow: 0 0 10px #25224f80;
}

nav ul li a.li-checked{
    color: #fff;
    font-weight: 900;
    text-shadow: 0 0 10px #25224f80;
}

nav .btn-try{
    background-color: #fff;
    color: #25224F;
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

nav .btn-try:hover{
    background: #cccaeb;
}

/* Footer 
_________________________________ */

footer{
    margin-top:50px;
    width: 100%;
}

.footer-info{
    background: #49439C;
    padding: 100px 0 50px 0; 
}

.align-footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collum-footer{
    width: 30%;
    color: #f3f3f3;
    text-align: justify;
}

.collum-footer h2{
    margin-bottom: 20px;
}

.align-links-footer{
    width: 100%;
    padding: 100px 0 0 0;
    text-align: right;
}

.footer-copyright{
    background: #f3f3f3;
    padding: 20px 0;
    font-size: 15px;
}